@import url('https://fonts.googleapis.com/css?family=Crimson+Pro:300&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: 'Crimson Pro', serif;
  color: #1e1e1e;
}

.pageWrapper {
  display: flex;
  height: 100vh;
}

.intro {
  background-color: #9fb6ba;
  background-image: url('https://images.unsplash.com/photo-1571942347102-23df2d0ee3a2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1868&q=80');
  background-size: cover;
  flex: 1 0 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.intro p,
h1 {
  text-align: center;
}

.form {
  flex: 1 0 50%;
  padding: 1rem;
  align-self: center;
}

.actionButton {
  padding: 0.5rem 1rem;
  margin-left: 1rem;
  border-radius: 0.2rem;
  font-size: 0.85rem;
  background-color: #1e1e1e;
  color: white;
  cursor: pointer;
}

.actionButton:hover {
  background-color: grey;
  transition: 0.3s ease-in;
}

.actionButton:disabled {
  cursor: not-allowed;
  background-color: grey;
}

.formfields {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

.formfields input[type='text'] {
  padding: 0.5rem;
  width: 75%;
  margin: 0.25rem 0;
}

.error {
  color: brown;
}

.error > input[type='text'] {
  border: 1px solid brown;
}

.error > label {
  color: #1e1e1e;
}
